<input #autoInput class="ds-input" type="text" (focus)="onChange()" (input)="onChange()"
  [nbAutocomplete]="auto" [placeholder]="placeholder | translate" />

<nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">

  <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">
    {{ option }}
  </nb-option>

</nb-autocomplete>


<input hidden="true" [(ngModel)]="input" (ngModelChange)="onInputChange($event)" />
<input hidden="true" [(ngModel)]="otherVerified" (ngModelChange)="otherVerifiedChange($event)" />
